<mat-card>
  <h1>My flights</h1>
  <mat-spinner *ngIf="!flights"></mat-spinner>
  <div *ngIf="flights">
  <table mat-table [dataSource]="flights" class="mat-elevation-z2">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><b>Id</b></th>
      <td mat-cell *matCellDef="let flight">{{ flight.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
      <td mat-cell *matCellDef="let flight">{{ flight.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef><b>Date</b></th>
      <td mat-cell *matCellDef="let flight">{{ flight.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef><b>Actions</b></th>
      <td mat-cell *matCellDef="let spaceport">
        <a
          mat-raised-button
          class="buttonedit"
          routerLink="/flight/details/{{ spaceport.id }}"
          >Details</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
  <br />
  <a mat-raised-button color="primary" routerLink="/flight/create">New</a>
</mat-card>
