<mat-card>
  <h1>My vehicles</h1>
  <mat-spinner *ngIf="!vehicles"></mat-spinner>
  <div *ngIf="vehicles">
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z2">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><b>Id</b></th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.name }}</td>
      </ng-container>

      <ng-container matColumnDef="seatAmount">
        <th mat-header-cell *matHeaderCellDef><b>Amount of seats</b></th>
        <td mat-cell *matCellDef="let vehicle">{{ vehicle.seatAmount }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><b>Actions</b></th>
        <td mat-cell *matCellDef="let vehicle">
          <a
            mat-raised-button
            class="buttonedit"
            routerLink="/vehicle/update/{{ vehicle.id }}"
            >Edit</a
          >
          <button
            mat-raised-button
            [disabled]="loading"
            color="warn"
            (click)="onDelete(vehicle.id)"
          >
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />
    <a mat-raised-button color="primary" routerLink="/vehicle/create">New</a>
  </div>
</mat-card>
