mat-card{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

mat-spinner{
  margin: auto;
}

table {
  width: 100%;
}

button{
  margin: 5px;
}

.buttonedit{
  background-color: #fd7e14;
  color: white;
}
