<header>
  <mat-toolbar color="primary">
    <a mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <span>SpaceLine</span>
    <div *ngIf="isAdmin">
      <a mat-button routerLink="/spaceport/list">Spaceports</a>
      <a mat-button routerLink="/vehicle/list">Vehicles</a>
      <a mat-button routerLink="/flight/list">Flights</a>
    </div>
    <a mat-button routerLink="/about">About</a>

    <span class="example-spacer"></span>
    <div *ngIf="currentUser">
      <span>{{ currentUser.firstName }}</span>
      <button mat-button (click)="logout()">Logout</button>
    </div>
    <div *ngIf="!currentUser">
      <a mat-button routerLink="/signin">Sign in</a>
      <a mat-button routerLink="/register">Register</a>
    </div>
  </mat-toolbar>
</header>
