<footer>
  <mat-toolbar color='primary'>
    <div class="center">
      <span>SpaceLine in cooperation with SpaceX</span>
      <img src="../../assets/images/src_assets_Images_rocket-removebg-fixed.png">
    </div>
  </mat-toolbar>
</footer>
