<mat-card>
  <mat-spinner *ngIf="!spaceport"></mat-spinner>
  <div *ngIf="spaceport">
    <form [formGroup]="spaceportForm" (ngSubmit)="onSubmit()">
      <h1 *ngIf="!isCreateMode">Update the details of {{ spaceport.name }}</h1>
      <h1 *ngIf="isCreateMode">Create a new Spaceport</h1>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="name" formControlName="name" />
        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
          <mat-error *ngIf="f.name.errors.required">
            Name is required
          </mat-error>
          <mat-error *ngIf="f.name.errors.minlength">
            Name must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="f.name.errors.maxlength">
            Name must be shorter than 100 characters.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput placeholder="city" formControlName="city" />
        <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)">
          <mat-error *ngIf="f.city.errors.required">
            City is required
          </mat-error>
          <mat-error *ngIf="f.city.errors.minlength">
            City must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="f.city.errors.maxlength">
            City must be shorter than 100 characters.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Planet</mat-label>
        <input
          type="text"
          matInput
          placeholder="planet"
          formControlName="planet"
        />
        <div *ngIf="f.planet.invalid && (f.planet.dirty || f.planet.touched)">
          <mat-error *ngIf="f.planet.errors.required">
            Planet is required
          </mat-error>
          <mat-error *ngIf="f.planet.errors.minlength">
            Planet must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="f.planet.errors.maxlength">
            Planet must be shorter than 100 characters.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>IATA Airport Code</mat-label>
        <input
          type="text"
          matInput
          placeholder="IATAcode"
          formControlName="IATAcode"
          oninput="this.value = this.value.toUpperCase()"
        />
        <div
          *ngIf="f.IATAcode.invalid && (f.IATAcode.dirty || f.IATAcode.touched)"
        >
          <mat-error *ngIf="f.IATAcode.errors.required">
            IATAcode is required
          </mat-error>
          <mat-error *ngIf="f.IATAcode.errors.minlength">
            IATAcode must be at least 3 characters long.
          </mat-error>
          <mat-error *ngIf="f.IATAcode.errors.maxlength">
            IATAcode must be shorter than 5 characters.
          </mat-error>
        </div>
      </mat-form-field>
      <br />
      <a mat-raised-button color="primary" routerLink="/spaceport/list">Back</a>
      <button
        mat-raised-button
        [disabled]="loading"
        [disabled]="!spaceportForm.valid"
        class="btn btn-primary"
        (click)="onSubmit()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Save
      </button>
    </form>
  </div>
</mat-card>
