mat-card{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

mat-spinner{
  margin: auto;
}

.mat-form-field {
  margin-right: 8px;
}

button {
  margin: 5px;
}

a {
  margin: 5px;
}

