img {
  width: 120px;
  margin: 5px;
}

// div.ex1{
//   max-width: 50%;
//   margin: auto;
// }

mat-card{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

// mat-grid-tile {
//   background: lightblue;
// }

.text-inside-grid {
  position: absolute;
  left: 5px;
  top: 5px;
}
