<div class="ex1">
  <mat-card>
    <mat-card-title>
      <h1 id="aboutTitle">Over deze applicatie</h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web
        frameworks' van Avans Hogeschool Breda.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header></mat-card-header>
    <img
      mat-card-image
      src="assets/images/blank_avatar.jpg"
      class="card-img-top rounded-circle border profile-pic"
      alt="..."
    />
    <mat-card-title>Stijn van Veen</mat-card-title>
    <mat-card-subtitle>Studentnummer: 2125141</mat-card-subtitle>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <h1>SpaceLine</h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        Mijn project is gebaseerd op een vliegtuigmaatschapij website waar je
        als bedrijf zijnde vluchten kan maken en aanbieden met verschillende
        eindbestemmingen en voertuigen. Hier geef ik dan ook nog een draai aan
        omdat ik groot fan ben van SpaceX, en zo wordt dit een SpaceLine website
        (airline maar dan in space!). Als het bedrijf Spaceline kun je dus zelf
        vluchten, eind/begin bestemmingen maken, aanpassen en verwijderen en zo
        ook met vluchten en voertuigen. En als klant moet je hiervoor kaartjes
        kunnen kopen.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <h1>Entiteiten</h1>
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile
          ><div class="text-inside-grid">
            <h2>SpacePorts</h2>
            <ul>
              <li>naam: string</li>
              <li>id: number</li>
              <li>city: string</li>
              <li>planet: string</li>
              <li>IATAcode: string</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile
          ><div class="text-inside-grid">
            <h2>Vehicle</h2>
            <ul>
              <li>naam: string</li>
              <li>id: number</li>
              <li>seatAmount: number</li>
            </ul>
          </div>
          </mat-grid-tile
        >
        <mat-grid-tile
          ><div class="text-inside-grid">
            <h2>Flight</h2>
            <ul>
              <li>naam: string</li>
              <li>id: number</li>
              <li>launchPort: spaceport</li>
              <li>arrivalPort: spaceport</li>
              <li>vehicle: vehicle</li>
              <li>departure: DateTime</li>
              <li>travelTime: number</li>
            </ul>
          </div></mat-grid-tile
        >
      </mat-grid-list>
      <div class="row"></div>
    </mat-card-content>
    <div>
      <mat-divider [inset]="true"></mat-divider>
      <br>
      <p>De naam van de vlucht wordt gegenereerd uit de departurePort en arivalPort.</p>
    </div>
  </mat-card>

  <div class="row">
    <div class="col-12">
      <mat-card>
      <h1>Use Cases</h1>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
    </mat-card>
    </div>
  </div>
</div>
