<mat-card>
  <h1>My spaceports</h1>
  <mat-spinner *ngIf="!spaceports"></mat-spinner>
  <div *ngIf="spaceports">
    <table mat-table [dataSource]="spaceports" class="mat-elevation-z2">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><b>Id</b></th>
        <td mat-cell *matCellDef="let spaceport">{{ spaceport.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
        <td mat-cell *matCellDef="let spaceport">{{ spaceport.name }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef><b>City</b></th>
        <td mat-cell *matCellDef="let spaceport">{{ spaceport.city }}</td>
      </ng-container>

      <ng-container matColumnDef="planet">
        <th mat-header-cell *matHeaderCellDef><b>Planet</b></th>
        <td mat-cell *matCellDef="let spaceport">{{ spaceport.planet }}</td>
      </ng-container>

      <ng-container matColumnDef="IATAcode">
        <th mat-header-cell *matHeaderCellDef><b>IATA code</b></th>
        <td mat-cell *matCellDef="let spaceport">{{ spaceport.IATAcode }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><b>Actions</b></th>
        <td mat-cell *matCellDef="let spaceport">
          <a
            mat-raised-button
            class="buttonedit"
            routerLink="/spaceport/update/{{ spaceport.id }}"
            >Edit</a
          >
          <button
            mat-raised-button
            [disabled]="loading"
            color="warn"
            (click)="onDelete(spaceport.id)"
          >
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />
    <a mat-raised-button color="primary" routerLink="/spaceport/create">New</a>
  </div>
</mat-card>
