<div *ngIf="flight">
  <mat-card>
    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()">
      <h1 *ngIf="!isCreateMode">Update the details of {{ flight.name }}</h1>
      <h1 *ngIf="isCreateMode">Create a new Flight</h1>
      <mat-form-field appearance="fill">
        <mat-label>Departure</mat-label>
        <mat-select
          name="departureId"
          formControlName="departureId"
        >
          <mat-option
            *ngFor="let spaceport of spaceports"
            matInput
            #input
            [value]="spaceport.id"
          >
            {{ spaceport.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="f.departureId.invalid && (f.departureId.dirty || f.departureId.touched)">
          <mat-error *ngIf="f.departureId.errors.required" >
            Departure location is required.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Arival</mat-label>
        <mat-select name="arivalId" formControlName="arivalId">
          <mat-option
            matInput
            *ngFor="let spaceport of spaceports"
            #input
            [value]="spaceport.id"
          >
            {{ spaceport.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="f.arivalId.invalid && (f.arivalId.dirty || f.arivalId.touched)">
          <mat-error *ngIf="f.arivalId.errors.required" >
            Arival location is required.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Vehicle</mat-label>
        <mat-select name="vehicleId" formControlName="vehicleId">
          <mat-option
            matInput
            *ngFor="let vehicle of vehicles"
            [value]="vehicle.id"
            #input
          >
            {{ vehicle.name }}
          </mat-option>
        </mat-select>
        <div *ngIf="f.vehicleId.invalid && (f.vehicleId.dirty || f.vehicleId.touched)">
          <mat-error *ngIf="f.vehicleId.errors.required" >
            Vehicle is required.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill" class="size">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          #input
          formControlName="date"
          name="date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <div *ngIf="f.date.invalid && (f.date.dirty || f.date.touched)">
          <mat-error *ngIf="f.date.errors.required" >
            Date is required.
          </mat-error>
        </div>
      </mat-form-field>
      <br />
      <a mat-raised-button color="primary" routerLink="/spaceport/list">Back</a>
      <button
        mat-raised-button
        [disabled]="loading"
        [disabled]="!flightForm.valid"
        class="btn btn-primary"
        (click)="onSubmit()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Save
      </button>
    </form>
  </mat-card>
</div>
