<mat-card>
  <mat-spinner *ngIf="!vehicle"></mat-spinner>
  <div *ngIf="vehicle">
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <h1 *ngIf="!isCreateMode">Update the details of {{ vehicle.name }}</h1>
      <h1 *ngIf="isCreateMode">Create a new Spaceport</h1>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="name"
          formControlName="name"
        />

        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
          <mat-error *ngIf="f.name.errors.required" >
            Name is required
          </mat-error>
          <mat-error *ngIf="f.name.errors.minlength">
            Name must be at least 4 characters long.
          </mat-error>
          <mat-error *ngIf="f.name.errors.maxlength">
            Name must be shorter than 100 characters.
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amount of seats</mat-label>
        <input
          type="number"
          matInput
          placeholder="seatAmount"
          formControlName="seatAmount"
        />
        <div *ngIf="f.seatAmount.invalid && (f.seatAmount.dirty || f.seatAmount.touched)">
          <mat-error *ngIf="f.seatAmount.errors.required" >
            Amount of seats is required
          </mat-error>
          <mat-error *ngIf="f.seatAmount.errors.min">
            Amount of seats must be at least 1.
          </mat-error>
          <mat-error *ngIf="f.seatAmount.errors.max">
            Amount of seats must smaller than 999.
          </mat-error>
        </div>
      </mat-form-field>
      <br />
      <a mat-raised-button color="primary" routerLink="/vehicle/list">Back</a>
      <button
        mat-raised-button
        [disabled]="loading"
        [disabled]="!vehicleForm.valid"
        class="btn btn-primary"
        (click)="onSubmit()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Save
      </button>
    </form>
  </div>
</mat-card>
