<div *ngIf="spaceport">
  <mat-card>
    <h1>{{spaceport.name}} Details</h1>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #input [(ngModel)]="spaceport.name" placeholder="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput #input [(ngModel)]="spaceport.city" placeholder="city" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Planet</mat-label>
      <input matInput #input [(ngModel)]="spaceport.planet" placeholder="planet" />
    </mat-form-field>
  </mat-card>
</div>
