
// #container {  padding: 100px 0; }

// .Site {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// .Site-content {
//   flex: 1;
// }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
  background-color: #ccc;

}

// div.ex1{
//      max-width: 70%;
//      margin: auto;
//    }

