
<body>
  <header>
    <app-header></app-header>
  </header>
  <main>
    <div class="ex1">
      <router-outlet></router-outlet>
      <alert></alert>
      <app-messages></app-messages>
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>
