<div *ngIf="messageService.messages.length">
  <mat-card>

  <h2>Messages</h2>
  <button mat-raised-button color="primary"
          (click)="messageService.clear()">clear</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</mat-card>
</div>
