<div class="background">
  <mat-card>
    <h1>Welcome on the Spaceline website!</h1>
    <p>your name: {{currentUser.firstName}} {{currentUser.lastName}}</p>
    <p>your role: {{currentUser.role}}</p>
  </mat-card>
</div>


