.background {
  background-image: url("../../assets/images/falcon_heavy.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 900px;
  padding: 10px;

}

mat-card{
  //margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.6;
}

