/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box;
  margin: 0}
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
