<mat-card>
  <h1>Flight details</h1>
  <mat-spinner *ngIf="!flight"></mat-spinner>
  <div *ngIf="flight && arivalPort && departurePort && vehicle">
    <mat-list role="list">
      <mat-list-item role="listitem">Name: {{ flight.name }}</mat-list-item>
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item role="listitem"
        >Departure: {{ departurePort.name }}</mat-list-item
      >
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item role="listitem"
        >Arival: {{ arivalPort.name }}</mat-list-item
      >
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item role="listitem"
        >Vehicle: {{ vehicle.name }}</mat-list-item
      >
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item role="listitem"
        >Avialable seats for this flight:
        {{ vehicle.seatAmount }}</mat-list-item
      >
      <mat-divider [inset]="true"></mat-divider>
      <mat-list-item role="listitem"
        >Date: {{ flight.date | date }}</mat-list-item
      >
      <mat-divider [inset]="true"></mat-divider>
    </mat-list>
    <a mat-raised-button color="primary" routerLink="/flight/list">Back</a>
    <button
      mat-raised-button
      [disabled]="loading"
      color="warn"
      (click)="onDelete(flight.id)"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Delete
    </button>
  </div>
</mat-card>
